* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*
  * ----------------
  * Color Variables
  * ----------------
*/
:root {
  --main: #FCF8E8;
  --secondary: #94B49F;
  --tertiary: #ECB390;
  --accent: #DF7861;
}

/*
  * ---------------
  * Helper Classes
  * ---------------
*/
.visibility-hidden {
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  overflow: hidden;
}

/*
  * -----------
  * Typography
  * -----------
*/




#HeadWrap,
header {
  padding: 0 !important;
}

header, section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nav styles */
#nav {
  padding: 1rem 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

/*
  * -------------
  * Modal Styles
  * -------------
*/

dialog {
  max-width: 650px;
  padding: 1rem;
}
dialog::backdrop {
  background-color: rgba(117, 120, 191, 0.9);
}