* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*
  * ----------------
  * Color Variables
  * ----------------
*/
:root {
  --main: #FCF8E8;
  --secondary: #94B49F;
  --tertiary: #ECB390;
  --accent: #DF7861;
  --accentRGB: 223, 120, 97;
}

/*
  * ---------------
  * Helper Classes
  * ---------------
*/
.visibility-hidden {
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  overflow: hidden;
}

@keyframes pop {
  0% {
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(var(--accentRGB), 0.7);
  }
  
  100% {
    border-radius: 0;
  }
}

/*
  * -----------
  * Typography
  * -----------
*/
/* 
  ? Headers font-family: 'Cormorant Garamond', serif;
  ? Body font-family: 'Proza Libre', sans-serif; 
*/
h1, h2 {
  font-family: 'Cormorant Garamond', serif;
}

h1 {
  color: white;
  letter-spacing: 2px;
}

h2 {
  font-weight: 600;
  display: inline-block;
  border-bottom: 2px solid var(--secondary);
}

p, li {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 400;
}

.nav-link:link {
  color: white;
}
.nav-link:visited {
  color: white;
}
.nav-link:hover {
  background-color: var(--tertiary);
}
.active {
  animation: pop 1.5s 1;
  background-color: var(--accent) !important;
}


#HeadWrap,
header {
  padding: 0 !important;
}

#About, header, section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  /* art by steve johnson https://www.instagram.com/artbystevej/ */
  background-image: url(../assets/background/title.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .25rem 1rem;
  border-top-left-radius: 10px;
  background-color: var(--main);
}

.attribution a:link {
  color: var(--accent);
}

.attribution a:visited {
  color: var(--secondary);
}

.glass_container {
  display: inline-block;
  padding: 0 1rem;
  background-color: var(--accent);
  border-radius: 5px;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

/* Nav styles */
#nav {
  background-color: var(--secondary);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  z-index: 99;
}

/* Contact */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .6;
  transition: all .5s;
}
a.twitter {
  background-image: url(../assets/twitter.svg);
}
a.linkedin {
  background-image: url(../assets/linkedin.svg);
}
a.github {
  background-image: url(../assets/github.svg);
}
a.social:hover {
  opacity: 1;
}

/*
  * -------------
  * Modal Styles
  * -------------
*/

dialog {
  max-width: 650px;
  padding: 1rem;
}
dialog::backdrop {
  background-color: rgba(223, 120, 97, 0.9);
}

#Modal {
  border: none;
  background: transparent;
}

#Modal .project_info_container {
  padding-top: 50px;
  overflow: hidden;
}

#Modal .github_pages_link {
  text-align: center;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 5px;
  background-color: var(--secondary);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  color: white;
}

.closeBtn:hover,
.closeBtn:focus {
  outline-color: var(--secondary);
  outline-offset: 2px;
  outline-width: 2px;
  outline-style: solid;
}

#About {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1rem;
  background-image: url(../assets/me.png);
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

/* #About h2 {
  text-align: center;
  font-weight: 600;
} */

#About p {
  width: min(80%, 500px);
  margin: 2rem auto;
}

section {
  padding: 0 1rem;
}

#ProjectOne,
#ProjectTwo,
#ProjectThree,
#ProjectFour,
#ProjectFive {
  background-image: url(../assets/me.png);
  background-size: 220px;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-attachment: fixed;
}

#ProjectOne {
  background-color: var(--secondary);
}
#ProjectTwo {
  background-color: var(--accent);
}
#ProjectThree {
  background-color: var(--main);
}
#ProjectFour {
  background-color: var(--tertiary);
}
#ProjectFive {
  background-color: var(--secondary);
}

.project_info_container {
  position: relative;
  width: min(100%, 650px);
  margin-inline: auto;
  padding: 1.5rem 1rem;
  background-color: var(--main);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.flex_trap {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

img {
  display: block;
  width: 200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.github_pages_link {
  background-color: var(--accent);
  color: white;
  padding: .5rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
  display: inline-block;
  transition: .2s all ease-in-out;
}

.github_pages_link:hover {
  transform: translateY(-3px);
}

.btn {
  position: relative;
  padding: .375rem 1rem;
  background-color: var(--main);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

svg {
  position: absolute;
  bottom: -15px;
  left: -.75rem;
  transform: rotate(25deg);
  width: 30px;
  height: 30px;
  background-color: #94B49F;
  border-radius: 50%;
}

svg path {
  fill: white !important;
}

#ProjectOne svg,
#ProjectFive svg {
  background-color: var(--accent);
}

#ProjectThree .github_pages_link {
  background-color: var(--secondary);
}

#ProjectThree .btn {
  color: white;
  background-color: var(--accent);
}

.btn:hover,
.btn:focus {
  background-color: var(--tertiary) !important;
  color: white;
}

#ProjectFour .btn:hover,
#ProjectFour .btn:focus {
  background-color: var(--accent) !important;
}

@media screen and (max-width: 600px) {
  section .project_info_container h2,
  section .project_info_container p,
  section .project_info_container .flex_trap {
    display: none;
  }

  section .project_info_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
  }
}

@media screen and (min-width: 600px) {
  #Modal .project_info_container {
    padding-top: 1.5rem;
  }

  .project_info_container {
    padding: 1.5rem 2rem;
  }

  #ProjectThree .project_info_container {
    background-color: var(--accent);
    color: var(--main)
  }

  section .project_info_container button {
    display: none;
  }
}

@media screen and (min-width: 1023px) {
  .flex_trap img {
    width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  #ProjectOne,
  #ProjectTwo,
  #ProjectThree,
  #ProjectFour,
  #ProjectFive {
    background-size: 25%;
  }
}